@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* body{
    background-image: url();
} */

.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);

}
.open .hamburger-middle{
    display: none;

}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.list-outside li {
    list-style-position: outside !important;
  }
/* Custom CSS for infinite loop and hover effect */
.gallery-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .gallery-images {
    display: flex;
    animation: scroll 20s linear  infinite;
    animation-play-state: running;
  }
  .gallery-videos {
    
    background: transparent;
    display: flex;
    animation: scrollReverse 20s linear infinite;
    animation-play-state: running;
  }

  .gallery-container:hover .gallery-images  {
    animation-play-state: paused;
  }
  .gallery-container:hover .gallery-videos  {
    animation-play-state: paused;
  }

  .gallery-images img {
    margin-right:10px ;
    border-radius: 10px;
    flex: 0 0 20%; /* Each image takes up 20% of the container width */
    max-width: 100%; /* Ensure images don't exceed their natural size */
  }
  .gallery-videos img {
    margin-top: 5px;
    margin-right:10px ;
    border-radius: 10px;
    flex: 0 0 20%; /* Each image takes up 20% of the container width */
    max-width: 100%; /* Ensure images don't exceed their natural size */
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scrollReverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .navbar{
    z-index: 1000;
  }

  .animated-heading {
    animation: slideInRight 1.5s ease-out;
    animation-fill-mode: forwards; /* Keep the final state of the animation */
    opacity: 0; /* Start with opacity set to 0 */
}

.animated-Image {
  animation: slideInLeft 1.5s ease-in;
  animation-fill-mode: forwards; /* Keep the final state of the animation */
  opacity: 0; /* Start with opacity set to 0 */
}

  @keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
.animationImg{
  animation: imgUp 0.7s linear infinite alternate;
}
@keyframes imgUp{
  to{
    transform: translateY(-10px);
  }
}